/* @media (max-width: 900px) {
    body {
        display: grid;
        grid-gap: 3px;
        grid-template-rows: 100px 175px 175px 175px 100px;
        grid-template-columns: 33% 33% 33%;
        max-width:900px;
        grid-template-areas: 
        "header header header"
        "laptop sketchbook businessCard"
        "laptop pen pencil"
        "laptop camera printing"
        "footer footer footer";
    } */
    
    body {
    display: grid;
    grid-gap: 3px;
    grid-template-rows: 100px 250px 250px 100px;
    grid-template-columns: 25% 25% 25% 25%;
}
header {
    grid-row: 1;
    grid-column: 1 / span 4;
    background: rgba(129, 129, 129, 0.2);
    display: flex;
    align-items: center;
}
header img {
    max-height: 80px;
    border-radius: 20px;
    padding: 10px;

}
h1 {
    color: rgb(194, 46, 53);
    align-self: flex-end;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: rgba(67, 162, 226, 0.479);
    align-self: flex-end;
    padding: 3px 6px;
    font-family: Arial, Helvetica, sans-serif;
}
.item {
    display: flex;
    padding: 2px;
    border: 2px solid rgba(0,0,0,.5);
    background: white;
    justify-content: flex-end;
    
    
}
.mainImg{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: auto;
}
.lable {
    position: absolute;
    align-self: flex-end;
    font-family: Arial, Helvetica, sans-serif;
}
#laptop {
    grid-row: 2 / span 2;
    grid-column: 1;
}
#sketchbook {
    grid-row: 2;
    grid-column: 2;   
}
#pen {
    grid-row: 2;
    grid-column: 3;   
}
#pencil {
    grid-row: 2;
    grid-column: 4;   
}
#businessCard {
    grid-row: 3;
    grid-column: 2;
}   
#camera {
    grid-row: 3;
    grid-column: 3;   
}
#\3Dprinting {
    grid-row: 4;
    grid-column: 4;   
}
footer {
    grid-row: 4;
    grid-column: 1 / span 4;
    background: rgba(129, 129, 129, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.social {
    display: inline-block;
}
.social img {
    max-width: 75px;
    max-height: 40px;
}
#ig {
    order: 1;
}
#linkedIn {
    order: 3;
}
.copyright {
    display: inline-block;
    order: 2;
}

@media (max-width: 900px) {
    body {
        display: grid;
        grid-gap: 3px;
        grid-template-rows: 100px 175px 175px 175px 100px;
        grid-template-columns: 33% 33% 33%;
    }
    header {
        grid-row: 1;
        grid-column: 1 / span 3;
        background: rgba(129, 129, 129, 0.2);
        display: flex;
        align-items: center;
    }
    header img {
        max-height: 80px;
        border-radius: 20px;
        padding: 10px;
    
    }
    h1 {
        color: rgb(194, 46, 53);
        align-self: flex-end;
        font-family: Arial, Helvetica, sans-serif;
    }
    h2 {
        color: rgba(67, 162, 226, 0.479);
        align-self: flex-end;
        padding: 3px 6px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .item {
        display: flex;
        padding: 2px;
        border: 2px solid rgba(0,0,0,.5);
        background: white;
        justify-content: flex-end;   
    }
    .mainImg{
        position: relative;
        max-width: 100%;
        max-height: 100%;
        height: auto;
        margin: auto;
    }
    .lable {
        position: absolute;
        align-self: flex-end;
        font-family: Arial, Helvetica, sans-serif;
    }
    #laptop {
        grid-row: 2 / span 3;
        grid-column: 1;
    }
    #sketchbook {
        grid-row: 2;
        grid-column: 2;   
    }
    #pen {
        grid-row: 2;
        grid-column: 3;   
    }
    #pencil {
        grid-row: 3;
        grid-column: 2;   
    }
    #businessCard {
        grid-row: 3;
        grid-column: 3;
    }   
    #camera {
        grid-row: 4;
        grid-column: 2;   
    }
    #\3Dprinting {
        grid-row: 4;
        grid-column: 3;   
    }
    footer {
        grid-row: 5;
        grid-column: 1 / span 3;
        background: rgba(129, 129, 129, 0.2);
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    .social {
        display: inline-block;
    }
    .social img {
        max-width: 75px;
        max-height: 40px;
    }
    #ig {
        order: 1;
    }
    #linkedIn {
        order: 3;
    }
    .copyright {
        display: inline-block;
        order: 2;
    }
  
    }
/* .expand {
    display: none;
    position: absolute; 
} */

/* Intended JS to listen for click in order to expand to full page article
.show-description {
    grid-row: 2 / span 2;
    grid-column: 2 / span 3;
    opacity: 1;
    background: white; 
}*/