body {
    display: grid;
    grid-gap: 3px;
    grid-template-rows: 100px 300px 300px 100px;
    grid-template-columns: 25% 25% 25% 25%;
}
header {
    grid-row: 1;
    grid-column: 1 / span 4;
    background: steelblue;
    display: flex;
    align-items: center;
}
header img {
    max-height: 80px;
    border-radius: 20px;
    padding: 10px;

}
h1 {
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    align-self: flex-end;
}
h2 {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    align-self: flex-end;
    padding: 3px 6px;
}
.item {
    display: flex;
    padding: 2px;
    border: 2px solid rgba(0,0,0,.5);
    background: white;
   
}
.mainImg{
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
.lable{
    position: absolute;
}
#laptop {
    grid-row: 2 / span 2;
    grid-column: 1;
}
#sketchbook {
    grid-row: 2;
    grid-column: 2;   
}
#pen {
    grid-row: 2;
    grid-column: 3;   
}
#pencil {
    grid-row: 2;
    grid-column: 4;   
}
#businessCard {
    grid-row: 3;
    grid-column: 2;
}   
#camera {
    grid-row: 3;
    grid-column: 3;   
}
#\3Dprinting {
    grid-row: 4;
    grid-column: 4;   
}
footer {
    grid-row: 4;
    grid-column: 1 / span 4;
    background: steelblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social {
    display: inline-block;
}
.copyright {
    display: inline-block;
}
.expand {
    opacity: 0;
}
.show-description {
    grid-row: 2 / span 2;
    grid-column: 2 / span 3;
    opacity: 1;
    background: white;
}