body {
    display: grid;
    grid-gap: 3px;
    grid-template-rows: 100px 300px 300px 100px;
    grid-template-columns: 25% 25% 25% 25%;
}
header {
    grid-row: 1;
    grid-column: 1 / span 4;
    background: rgba(129, 129, 129, 0.2);
    display: flex;
    align-items: center;
}
header img {
    max-height: 80px;
    border-radius: 20px;
    padding: 10px;

}
h1 {
    color: rgb(194, 46, 53);
    font-family: Arial, Helvetica, sans-serif;
    align-self: flex-end;
}
h2 {
    color: rgba(67, 162, 226, 0.479);
    font-family: Arial, Helvetica, sans-serif;
    align-self: flex-end;
    padding: 3px 6px;
}
.item {
    display: flex;
    padding: 2px;
    border: 2px solid rgba(0,0,0,.5);
    background: white;
    justify-content: flex-end;
    
    
}
.mainImg{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: auto;
}
.lable{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    align-self: flex-end;

}
#laptop {
    grid-row: 2 / span 2;
    grid-column: 1;
}
#sketchbook {
    grid-row: 2;
    grid-column: 2;   
}
#pen {
    grid-row: 2;
    grid-column: 3;   
}
#pencil {
    grid-row: 2;
    grid-column: 4;   
}
#businessCard {
    grid-row: 3;
    grid-column: 2;
}   
#camera {
    grid-row: 3;
    grid-column: 3;   
}
#\3Dprinting {
    grid-row: 4;
    grid-column: 4;   
}
footer {
    font-family: Arial, Helvetica, sans-serif;
    grid-row: 4;
    grid-column: 1 / span 4;
    background: rgba(129, 129, 129, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social {
    display: inline-block;
}
.social img {
    max-width: 75px;
    max-height: 40px;
}
#ig {
    order: 1;
}
#linkedIn {
    order: 3;
}
.copyright {
    display: inline-block;
    order: 2;
}
/* .expand {
    opacity: 0;
    position: absolute; 
} */

/* Intended JS to listen for click in order to expand to full page article
.show-description {
    grid-row: 2 / span 2;
    grid-column: 2 / span 3;
    opacity: 1;
    background: white; 
}*/